<div class="card bg-white text-dark">
  <div class="card-header" >
    <h6 *ngIf="!cliente.id else elseBlock2">{{ titulo }}</h6>

    <ng-template #elseBlock2>
      <h6>Actulizar Cliente</h6>
    </ng-template>
  </div>
  <div class="card-body">

    <form>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="from-control" [(ngModel)]="cliente.nombre" name="nombre">
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="from-control" [(ngModel)]="cliente.apellido" name="apellido">
        </div>
      </div>

      <div class="form-group row">
        <label for="telefono" class="col-form-label col-sm-2">Telefono</label>
        <div class="col-sm-6">
          <input type="text" class="from-control" [(ngModel)]="cliente.telefono" name="telefono">
        </div>
      </div>

      <div class="form-group row">
        <label for="correo" class="col-form-label col-sm-2">Correo</label>
        <div class="col-sm-6">
          <input type="text" class="from-control" [(ngModel)]="cliente.correo" name="correo">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='createCliente()' *ngIf="!cliente.id else elseBlock">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Actualizar</button>
          </ng-template>
        </div>
      </div>

    </form>

  </div>
</div>
